$main_color: #FED700;
$main_darker: #FEBA0C;
$main_lighter: #FFF7CC;

$main_text: #1A1A1A;
$secondary_text: #7B8E98;
$outline: #CFD8DC;
$form: #ECEFF1;

$color_link: #03a9f4;

$color_red: #F44336;
$color_blue: #03A9F4;
$color_green: #01A54E;
$color_white: #fff;
